
.form_div{
    text-align: center;
    
}
button{
    background-color: darkmagenta;
}

.input_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}


.displya{
    width: 80%;
    
    background-color: chartreuse;
    color: black;
    margin: auto;
    
}